// ### Primary
$green: hsl(75, 94%, 57%);
// ### Neutral
$white: hsl(0, 0%, 100%);
$grey-ligh: hsl(0, 0%, 82%);
$grey: hsl(0, 0%, 21%);
$dark-grey: hsl(0, 0%, 12%);
$off-black: hsl(0, 0%, 8%);
// Font-size
$lg: 1.5em;
$md: 0.85em;
$rg: 0.95em;
// Radius
$round: 0.37rem;
