@use "../abtract/variables" as color_bg;
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}
main {
  background-color: color_bg.$dark-grey;
}
